<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">{{ site.title }}</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <!-- {% for page in site.pages %}
                {% if page.title %}
                <li>
                    <a  href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                </li>
                {% endif %}
                {% endfor %} -->
               <!--  <li><a class="page-scroll" href="#contact">Contact</a></li> -->
            </ul>
        </div>
    </div>
</nav>

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img src="{{ "/img/profile-picture.jpg" | prepend: site.baseurl }}" alt="" class="header-content-profile-img animated pulse">
            <h1 class="animated fadeIn">Hey!</h1>
            <hr>
            <p class="animated fadeIn">
            I'm a VP of Engineering who cares about <strong>agile methods</strong> and productive <strong>people</strong>. 
            I love chaos and energy of startups. <strong>Solve problems</strong> makes my life make sense.  
            <br>And I'm good <strong>front-end</strong> developer too :D
            </p>
            <!-- <a href="#about" class="btn btn-primary btn-xl page-scroll animated fadeIn">Find Out More</a> -->
        </div>
    </div>
</header>